body {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #EDF0F3;

}
.container-fluid {
    max-width: 1250px;
    margin-top: 160px;
    padding: 0px;
}

header {
    margin: 0px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #EDF0F3;
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 137px;
}
.header_1{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

img {
    width: 209px;
}
/* SEARCH */
.input_search {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;

}

.form-inline {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.form-inline input[type="search"] {
    width: 80%;
    height: 40px;
    padding: 10px;
    border: 1px solid #4caa47;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
input[type="search"]:focus {
    outline: none;
    border: 1px solid #2581c1;
}
input[type="search"]:hover {
    border: 1px solid #2581c1;
}
.form-inline button[type="submit"] {
    width: 20%;
    height: 40px;
    background-color: #4CAA47;
    color: white;
    border: none;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #7eed78;
}
/* DK-DN-GH */
.user_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.user_actions a {
    text-decoration: none;
    color: #4caa47;
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
    border-right:1px solid #000000;
    font-size: 16px;

}
.icon-cart:last-child {
    border-right: none;

}
.user_actions a:hover {
    color: #7eed78;
}
/* MENU */
.navbar{
    background-color: #4CAA47 !important;
    border-radius: 10PX !important;
}
.navbar a{
    font-size: 16px;
    color: #ffffff !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    

}
.navbar a:hover{
    color: #7eed78 !important;
}

/*=========================footer=========================*/
.footer__TT {

    margin-bottom: 0px;
    margin-top: 10px;
    padding: 10px;
    height: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 10px 10px 0px 0px;
    background-color: #EDF0F3;

}
.footer__1, .footer__2, .footer__3{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
.footer__h1 h1{
    height: 100px;
    padding-top: 30px;
    margin: 10px 0px 10px 0px;
    font-size: 24px !important;
    color: #4CAA47;
    font-weight: bold;
    text-transform: uppercase;

}
.footer__1 p{
    margin: 25px 0px 25px 0px;
    font-size: 15px;

}
.icons{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 40px;
}
.footer__2{
  font-size: 15px;
}
.link_lk{
    text-decoration: none;
    margin: 20px;
}

.footer__copyright{
    background-color: #EDF0F3;
    border-radius: 0px 0px 10px 10px;
  }



